.principal {
    display: flex;    
    width: 100%;
    height: 580px;
    text-align: center;       
    justify-content: center;    
    align-items: center;    
    background-color: rgb(242, 185, 80); 
}

.ContainerPrestamo {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 500px; 
    align-items: center;
    border-radius: 20px;
    background-color: white; 
}

.logo {
    margin-top: 30px;
    display: flex; 
    width: 200px;
    height: auto; 
}

.EstebanquitoPrestamo {
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.InputPrestamo {
    height: 30px;
    width: 65%;
    margin-bottom: 12px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 5px; 
}

.BotonSolicitar {
    height: 33px;
    width: 67%;
    background-color: rgb(242, 185, 80); 
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px; 
    cursor: pointer; 
}

.BotonSolicitar:hover {
    background-color: rgb(220, 165, 70); 
}

.ResultadoDeuda {
    margin-top: 20px; 
    font-size: 1.2em; /* Tamaño de fuente para el resultado */
}

p {
    margin-top: 15px; /* Espaciado superior para el párrafo */
}

a {
    color: rgb(242, 185, 80); /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
}

a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}