.principalSolicitudPrestamo {
  display: flex;
  width: 100%;
  height: 580px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.ContainerPrestamo {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 450px;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2px 4px;
}

.logoSolicitudPrestamo {
  margin-top: 30px;
  display: flex;
  width: 120px;
  height: aut;
  margin-bottom: 15px;
}

.EstebanquitoPrestamo {
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}

.InputPrestamo {
  height: 30px;
  width: 65%;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.BotonSolicitar {
  height: 33px;
  width: 67%;
  background-color: rgb(242, 185, 80);
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.BotonSolicitar:hover {
  background-color: rgb(220, 165, 70);
}

.ResultadoDeuda {
  margin-top: 20px;
  font-size: 1.2em;
}

p {
  margin-top: 15px;
}

a {
  color: rgb(242, 185, 80);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
