.Container123{
    display: flex;
    flex: 1;
}

.ContainerHome{
    display: flex;
    background-color: rgb(250, 226, 182);
    width: 20%;
    height: 580px;
}
.logo1{
    margin-top: 30px;
    display: flex; 
    width: 200px;
    height: aut;
}

.ContainerHomeResultados{
    display: flex;
    background-color: aqua;
    width: 80%;
    height: 580px;

}
