.principalRetiros {
    display: flex;    
    width: 100%;
    height: 450px;
    text-align: center;       
    justify-content: center;    
    align-items: center;    
}

.ContainerRetiros {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px; 
    align-items: center;
    border-radius: 20px;
    background-color: white; 
    box-shadow: 0 2px 4px;
}

.logoRetiros {
    margin-top: 30px;
  display: flex;
  width: 120px;
  height: aut;
  margin-bottom: 15px;
}

.EstebanquitoRetiros {
    color: black; 
    font-weight: bold;
    margin-bottom: 15px;
}

.SelectTransaccion {
    height: 35px;
    width: 70%;
    margin-bottom: 12px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 5px; 
}

.InputRetiros {
    height: 30px;
    width: 70%;
    margin-bottom: 12px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 5px; 
}

.BotonTransaccion {
    height: 33px;
    width: 70%;
    background-color: rgb(242, 185, 80); 
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px; 
    cursor: pointer; 
}



